<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5">

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/include/common.gazebo.xacro" />

  <!-- MiR100 base -->
  <xacro:include filename="$(find mir_description)/urdf/include/mir_100_v1.urdf.xacro" />
  <xacro:mir_100 prefix=""/>
  <xacro:controller_plugin_gazebo robot_namespace=""/>

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <!--NOT LIMITED<xacro:ur5_robot prefix="" joint_limited="false"/>-->
  <xacro:ur5_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
  />


  <!-- Connection UR to planning frame world -->
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link_ur" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>-->


  <!-- Connection MiR to world where UR is connected -->
    <joint name="compJoint" type="fixed">
      <origin xyz="0.153 -0.0325 0.892" rpy="0 0 0" /> <!-- 0.892 = 0.352 + 0.54 ; 0.153 = 0.038 + 0,115-->
      <parent link="base_link" />
      <child link="world" />
    </joint>


</robot>