<launch>
	<!-- Static transforms for camera_link, camera_frame and gripper -->
	<node pkg="tf" type="static_transform_publisher" name="cameraLink_eeLink_publisher" args="0.010 0 0.06 0 0.707 0 0.707 ee_link camera_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="cameraDepthFrame_cameraLink_publisher" args="0 -0.032 0 0.011 0.005 0 1 camera_link camera_aligned_depth_to_color_frame 100" />
	<node pkg="tf" type="static_transform_publisher" name="gripper_eeLink_publisher" args="0.144 0 0 0 0.707 0 0.707 ee_link gripper 100" />
	
	<!-- Nodes for broadcasting and listening to tf-transforms -->
	<node pkg="butler" type="tf_broadcaster.py" name="tf_broadcaster" />
	<node pkg="butler" type="tf_listener_publisher.py" name="tf_listener_publisher" />
</launch>