<launch>
	<node pkg="tf" type="static_transform_publisher" name="camera_eeLink_publisher" args="0.1 0 0.1 -0.5 0.5 -0.5 0.5 ee_link camera_link 100" /> <!-- 100ms = 10Hz-->
	<node pkg="coffee_on_table" type="camera_tf_listener.py" name="camera_base_listener" />
	<node pkg="coffee_on_table" type="object_tf_broadcaster.py" name="object_camera_broadcaster" />
	<node pkg="coffee_on_table" type="object_tf_listener.py" name="object_tf_listener" />
</launch>
